@import 'src/style/mixins';
@import 'src/style/variables';

.container {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  @include flexStyle(column, space-between, flex-start);
  position: relative;

  .contentContainer {
    position: relative;
    width: 80%;
    margin: 50px 0;
    @include flexStyle(column, space-between, center);

    .title {
      @include text($secondColor, $headerFont, 2rem, 600);
      margin-bottom: 2rem;
    }

    @media (max-width: 690px) {
      width: 96%;
    }
  }
}