@import "variables";

@mixin noneBaseStyle() {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}
@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin sizeBlock($width, $height) {
  width: $width;
  height: $height;
}
@mixin flexStyle($dir, $jContent, $Items) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jContent;
  align-items: $Items;
  flex-wrap: wrap;
  align-content: center;
}

@mixin text($color,$fontFamily,$fontSize, $fontWeight) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: normal;
}

@mixin textStroke($color, $letterSpace){
  letter-spacing: $letterSpace;
  text-shadow: 0   -1px 0   $color,
  0   -1px 0   $color,
  -0    1px 0   $color,
  0    1px 0   $color,
  -1px -0   0  $color,
  1px -0   0   $color,
  -1px  0   0  $color,
  1px  0   0   $color,
  -1px -1px 0  $color,
  1px -1px 0   $color,
  -1px  1px 0   $color,
  1px  1px 0  $color,
  -1px -1px 0  $color,
  1px -1px 0   $color,
  -1px  1px 0   $color,
  1px  1px 0   $color;
}

@mixin horizonScroll(){
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 8px;
    background-color: $darkColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
}

@mixin volumeBtnEffect(){
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

@mixin smallBtn(){
  display: inline-block;
  @include sizeBlock(30px, 30px);
  border: 2px solid $darkColor;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  @include text($secondColor, $headerFont, 1rem, bold);
  &:active{
    background-color: $darkColor;
    transform: scale(0.8);
  }
}

@mixin arrow($width, $height, $widthBorder, $color, $rotate,  $top,$right) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  border-left: $widthBorder solid $color;
  border-bottom: $widthBorder solid $color;
  transform: rotate($rotate);
  z-index: 9;
  top: $top;
  right: $right;
}