$lightColor: #D8E6F3;
$darkColor: #AFCDE7;
$textColor: #fff;
$secondColor: #0c4360;
$accentColor: orange;
$darkAccentColor: #bb4f02;
$colorStroke: rgb(12, 106, 154);
$btnColor: #6baee8;


$baseFont: 'Lucida Grande', sans-serif;
$headerFont: 'Lucida Sans Unicode', sans-serif;