$lightColor: #D8E6F3;
$darkColor: #AFCDE7;
$textColor: #fff;
$secondColor: #043650;
$accentColor: orange;
$colorStroke: rgb(12, 106, 154);


$baseFont: 'Lucida Grande', sans-serif;
$headerFont: 'Lucida Sans Unicode', sans-serif;