@import 'src/style/mixins';
@import 'src/style/variables';

.container {
  @include flexStyle(row, center, center);
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: -20px;

  .button {
    @include smallBtn();
    margin-top: 13px;
    margin-left: 10px;
    @media (max-width: 594px) {
      margin-top: 0;
    }
  }
}

.person {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 94%;
  position: relative;
  @media (max-width: 601px) {
    margin-top: 10px;
    @include flexStyle(column, start, flex-start);
  }

  .button {
    @include position(absolute, 24px, 410px);
    @media (max-width: 601px) {
      @include position(absolute, 46px, 6px)
    }
    @media (max-width: 594px) {
      @include position(absolute, 59px, 4px)
    }

    @media (max-width: 479px) {
      left: -30px;
    }
    @media (max-width: 340px) {
      @include position(absolute, 64px, 160px);
      left: 160px;

    }
  }
}