@import 'src/style/mixins';
@import 'src/style/variables';

.tableRow {
  &:hover{
    td {
      background: $darkColor;
    }

  }
  td {
    @include text($secondColor, $baseFont, 1rem, normal);
    height: 50px;
    padding: 9px 7px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: $textColor;
    background: $lightColor;
    position: relative;
    overflow: hidden;
    @media (max-width: 700px) {
     height: 60px;
    }
      .linkText {
        display: block;
        padding: 0 6px;
        @include position(absolute, 0, 0);
        @include sizeBlock(100%, 100%);
        @include flexStyle(row, center, center);
        @include text($secondColor, $baseFont, 1rem, normal);
        text-decoration: underline $secondColor;
        @include horizonScroll();
        &:hover {
          background: $accentColor;
          color: $textColor;
          text-decoration: underline $textColor;
        }
        &:active {
          @include text($secondColor, $baseFont, 1rem, normal);
          text-decoration: underline $secondColor;
        }
      }

    &:first-child{
      width: 15%;
      @media (max-width: 990px) {
        width: 10%;
      }
    }

    &:nth-child(2){
      width: 15%;
      @media (max-width: 990px) {
        width: 10%;
      }
    }
    &:nth-child(3){
      @media (max-width: 990px) {
        width: 40%;
      }
    }
    &:last-child{
      width: 25%;
      @media (max-width: 990px) {
        width: 15%;
      }
    }
  }
}